$black: #191919;
$gray: #f5f5f5;
$trasparent: #19191980;
$orange: #e9a14d;
$white: #fff;
$gray-darker: #858585;
$dark: #0e0e2c;


$primary: $black;
$secondary: $gray;
$info: $gray-darker;
$button: $orange;
$text-white: $white;
$bg-trasp: $trasparent;
$text-card: $dark;
