.c-button-top {
  @include main-button;
  border: 4px solid $white;
  border-top-right-radius: 50px;
  background-color: transparent;

  @include moreThanTablet {
    background-color: #d7985a80;
  }
}

.c-bg-img-combine {
  width: 100vw;
  height: 100vh;
  @include bg-two-img;

  @include moreThanTablet {
    height: 110vh;
  }
}

.c-m-h1 {
  padding-bottom: 2rem;
  letter-spacing: -2px;

  @include moreThanTablet {
    letter-spacing: -2.7px;
  }
}

.c-top-container {
  width: 100%;
  padding-top: 70vh;
  @include moreThanTablet {
    padding-top: 50vh;
    padding-left: 12%;
  }
}

.c-button-header {
  width: 100%;
  font-size: $fs-md;
  line-height: $fs-md;
  font-weight: $fw-6;
  text-align: start;
  letter-spacing: -1px;
  text-transform: uppercase;
  height: fit-content;
  padding: 8px 20px;
  padding-left: 0;
  border: none;
  margin: auto 2px 8px;
  background-image: url('icons/chevron-right-white.svg');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 10px;

  @include moreThanTablet {
    font-size: $base-fs;
    line-height: $base-fs;
    width: fit-content;
    margin: auto 2px;
    padding: 4px 8px;
    margin: auto 2px;
    background-image: unset;
  }
}

.c-man {
  @include half-container('@/assets/images/man.png');
}

.c-woman {
  @include half-container('@/assets/images/woman.png');
}

.c-label {
  @include description-trasparent;
  width: 100vw;
  letter-spacing: -2.7px;

  @include moreThanTablet {
    width: 100%;
  }
}

.c-footer {
  width: 100vw;
  height: 50vh;
  padding-top: $spacing-lg;
  background-color: $black;

  @include moreThanTablet {
    height: 40vh;
  }

  &__logo {
    margin: auto;
    @include moreThanTablet {
      margin: 0;
      padding-bottom: $spacing-xl;
      align-self: flex-start;
    }
  }
}

.c-fotter-list {
  &__title {
    margin: $spacing-md 0;
    letter-spacing: -1px;
  }

  &__item {
    padding-bottom: 18px;
    cursor: pointer;
  }
}

.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.logo {
  display: inline-block;
  width: 200px;
  height: 30px;
  margin: 0 auto;

  @include moreThanTablet {
    width: 300px;
    height: 50px;
  }
}

.icon-chevron {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin: 0 8px;
}

.c-mobile-menu {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100vw;
  height: 98vh;
  padding: 20px;
  background-color: inherit;


  &__content {
    display: flex;
    flex-direction: column;
    gap: 100vw;
  }
}

.c-input {
  &__container {
    display: flex;
    align-items: center;
    border: 1px solid $white;
    margin-bottom: $spacing-lg;

    @include moreThanTablet {
      width: 300px;
      margin-bottom: $spacing-sm;
    }
  }

  &__input {
    width: 90%;
    height: 40px;
    padding-left: $spacing-lg;
    border: none;
    border-right: 1px solid $white;
    background-color: inherit;
  }
}

.c-icon {
  &__container {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin: auto 0;
  }

  &__button {
    width: fit-content;
    height: fit-content;
    background-color: inherit;
    padding: 10px;
    padding-bottom: 4px;
    border: none;
  }
}

.c-bottom-section {
  width: 100vw;
  height: fit-content;
  background-color: $black;

  @include moreThanTablet {
    background-image: url('/images/LETTERS.svg');
    background-repeat: no-repeat;
    background-position: 0 80%;
    background-size: cover;
  }
}

.c-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
  padding: $spacing-xl 0;
  gap: $spacing-lg;

  @include moreThanTablet {
    height: 100vh;
  }

  &__title {
    margin-top: $base-fs;
    
    @include moreThanTablet {
      margin-top: $spacing-xl;
    }
  }

  &__imput {
    text-align: center;
    border: none;
    border-bottom: 1px solid $white;
    background-color: $black;
    letter-spacing: 0;
  }

  &__checkbox {
    padding: $spacing-unit;
    margin-right: $spacing-md;
    accent-color: $gray-darker;
  }

  &__button {
    @include main-button;
    border-bottom-right-radius: 50px;
    background-color: $orange;
    border: 1px solid $orange;
    margin-top: $spacing-xl;
  }
}

.c-pop {
  height: fit-content;
  padding-top: 50px;
  text-align: center;

  @include onDesktop {
    height: 100vh;
  }

  &__container {
    // display: flex;

    @include moreThanTablet {
      display: grid;
    }
  }

  &__item {

    @include onTablet {
      &:nth-child(odd) {
        padding-left: 30px;
      }
  
      &:nth-child(even) {
        padding-right: 30px;
      }
    }
  }
}

.c-card {
  // width: 50%;
  height: 450px;
  background-color: #fff;
  border-top-left-radius: 50px;

  @include moreThanTablet {
    width: 100%;
  }

}
