@mixin main-button {
  width: 90%;
  height: 8vh;
  color: $white;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @include onTablet() {
    width: 80%;
    height: 9vh;
    font-size: 36px;
  }

  @include onDesktop() {
    width: 40%;
    height: 12vh;
  }
}

@mixin portal {
  font-weight: $fw-5;
  font-size: $base-fs;
  line-height: 22px;
  padding-top: $spacing-xs;
  text-transform: capitalize;
}

@mixin popup-position {
  position: absolute;
  top: 120%;
  right: 0;
}

@mixin font ($size, $weight, $lineH) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineH;
  // color: $info;
  text-transform: capitalize;
}

@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear:  both;
  }
}

@mixin shadow {
  -webkit-box-shadow: 9px 18px 16px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 9px 18px 16px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 9px 18px 16px 0px rgba(0, 0, 0, 0.3);
}

@mixin hiden-visualy {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin bg-img {
  background-image: url('/images/LETTERS.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;

}

@mixin bg-top-banner {
  background-image: url('@/assets/images/top-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;

  @include onTablet() {
    background-image: url('@/assets/images/top.png');
    background-repeat: no-repeat;
    background-position: 60% 0;
    background-size: cover;
  }

  @include onDesktop {
    background-image: url('/icons/o.svg'), url('/icons/f.svg'), url('/icons/l.svg'), url('@/assets/images/top.png'), linear-gradient(to right, #D28948, #D29053);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 0 -12%, 0 107%, 100% 1%, center, 100%;
    background-size: 479px, 592px, 322px, contain, 100%;
  }
}

@mixin container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
}

@mixin half-container($img) {
  position: relative;
  width: 100vw;
  height: 100vw;
  display: block;
  background-image: url($img);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  @include onDesktop() {
    width: 50%;
    height: 100vh;
    display: inline-block;
  }
}

@mixin description-trasparent {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  background-color: $bg-trasp;
  text-align: center;
}

@mixin text-button {
  color: $white;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0;
  text-transform: uppercase
}

@mixin over400px {
  @media screen and (max-width: 768px) and (min-width: 360px) {
    @content;
  }
}

@mixin onTablet {
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin moreThanTablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
