$spacing-unit: 8px;
$spacing-side: $spacing-unit * 2;
$spacing-side\@m: $spacing-unit * 3;
$spacing-side\@lg: $spacing-unit * 3;

$spacing-xs: $spacing-unit;
$spacing-sm: $spacing-unit * 2;
$spacing-md: $spacing-unit * 2;
$spacing-lg: $spacing-unit * 3;
$spacing-xl: $spacing-unit * 4;
