
$alignments: 'center', 'start', 'end';
@each $alignment in $alignments {
  .u-align {
    &-#{$alignment} {
      align-items: #{$alignment};
    }
  
    &-md-#{$alignment} {
      @include onTablet {
        align-items: #{$alignment};
      }
    }
  
    &-lg-#{$alignment} {
      @include onDesktop {
        align-items: #{$alignment};
      }
    }
  }
} 

$text-alignments: 'center', 'right', 'left';
@each $text-alignment in $text-alignments {
  .u-text {
    &-#{$text-alignment} {
      text-align: #{$text-alignment};
    }
  
    &-md-#{$text-alignment} {
      @include onTablet {
        text-align: #{$text-alignment};
      }
    }

    &-mtm-#{$text-alignment} {
      @include moreThanTablet {
        text-align: #{$text-alignment};
      }
    }
  
    &-lg-#{$text-alignment} {
      @include onDesktop {
        text-align: #{$text-alignment};
      }
    }
  }
}

$position: (-top: 't', -left: 'l', -right: 'r', -bottom: 'b');

.u-p {
  @for $space from 0 through 64 {
    @each $position, $pos in $position {
      &#{$pos}-#{$space} {
        padding#{$position}: #{$space}px;
      }
      &#{$pos}-md-#{$space} {
        @include onTablet {
          padding#{$position}: #{$space}px;
        }
      }
      &#{$pos}-lg-#{$space} {
        @include onDesktop {
          padding#{$position}: #{$space}px;
        }
      }
    }
  }
}

.u-py {
  @for $space from 0 through 64 {
    &-#{$space} {
      padding: #{$space}px 0;
    }

    &-md-#{$space} {
      @include onTablet {
        padding: #{$space}px;
      }
    }

    &-lg-#{$space} {
      @include onDesktop {
        padding: #{$space}px;
      }
    }
  }
}

.u-px {
  @for $space from 0 through 64 {
    &-#{$space} {
      padding: 0 #{$space}px;
    }

    &-md-#{$space} {
      @include onTablet {
        padding: #{$space}px;
      }
    }

    &-lg-#{$space} {
      @include onDesktop {
        padding: #{$space}px;
      }
    }
  }
}


.u-m {
  &-auto {
    margin: auto;

      &-mtm-auto {
        @include moreThanTablet {
          margin: auto;
        }
      }
      &-md-auto {
        @include onTablet {
          margin: auto;
        }
      }
      &-mtm-auto {
        @include onDesktop {
          margin: auto;
        }
      }
  }

  @for $space from 0 through 64 {
    @each $position, $pos in $position {
    &#{$pos}-#{$space} {
      margin#{$position}: #{$space}px;
    }
    &#{$pos}-md-#{$space} {
      @include onTablet {
        margin#{$position}: #{$space}px;
      }
    }
    &#{$pos}-lg-#{$space} {
      @include onDesktop {
        margin#{$position}: #{$space}px;
      }
    }
  }
  }
}

.u-my {
  &-auto {
    margin: auto 0;
  }

  &-md-auto {
    @include moreThanTablet {
      margin: auto 0;
    }
  }

  @for $space from 0 through 64 {
    &-#{$space} {
      margin: #{$space}px 0;
    }
    &-md-#{$space} {
      @include onTablet {
        margin: #{$space}px 0;
      }
    }
    &-lg-#{$space} {
      @include onDesktop {
        margin: #{$space}px 0;
      }
    }
  }
}

.u-mx {
  &-auto {
    margin: 0 auto;
  }

  &-md-auto {
    @include moreThanTablet {
      margin: auto 0;
    }
  }

  @for $space from 0 through 64 {
    &-#{$space} {
      margin: 0 #{$space}px;
    }
    &-md-#{$space} {
      @include onTablet {
        margin: 0 #{$space}px;
      }
    }
    &-lg-#{$space} {
      @include onDesktop {
        margin: 0 #{$space}px;
      }
    }
  }
}

.u-gap {
  @for $gap from 0 through 64 {
    &-#{$gap} {
      gap: #{$gap}px;
    }

    &-md-#{$gap} {
      @include onTablet {
        gap: #{$gap}px;
      }
    }

    &-lg-#{$gap} {
      @include onDesktop {
        gap: #{$gap}px;
      }
    }
  }
}
