.u-text-upper {
  text-transform: uppercase;
}

.u-capitalize {
  text-transform: capitalize;
}

.u-align {

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }
}
